<html>
<head>
    <title>Appointments</title>
    <style>
        table, tr, td {
            border: 1px solid #83A697;
            padding: 10px;
            width: 75%;
            text-align: center;
            color: #7F7F7F;

        }

        table {
            position: absolute;
            top: 75px;
            left: 200px;
        }

        tr:nth-child(even) {
            background-color: mintcream;
        }

        th {
            border: 1px solid #83A697;
            padding: 10px;
            background-color: lavender;
            color: #7F7F7F;
            height: 50px;
            font-size: 20px;
        }

        h1 {
            position: absolute;
            left: 200px;
            color: #7F7F7F;
        }
        .add {
            pozition: absolute;
            background-color: cornsilk;
            border: none;
            color:#7F7F7F;
            padding: 10px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-left: 750px;

        }
    </style>
</head>
<body>
<h1> Appointments<a href="appointmentsForm" class="add">Add new appointment</a>
</h1>
<table>
    <tr>
        <th>ID</th>
        <th>DOCTOR ID</th>
        <th>PATIENT ID</th>
        <th>APP DATE</th>
        <th>STATUS</th>
        <th>DOCTOR NOTES</th>
        <th>PATIENT NOTES</th>
    </tr>
    #foreach($appointment in $appointments)
        <tr>
            <td>$appointment.id</td>
            <td>$appointment.doctor_id</td>
            <td>$appointment.patient_id</td>
            <td>$appointment.appDate</td>
            <td>$appointment.status</td>
            <td>$appointment.doctor_notes</td>
            <td>$appointment.patient_notes</td>
        </tr>
    #end
</table>
</body>
</html>