<html>
<head>
    <title>Appointments</title>
    <style>
        table, tr, td {
            border: 1px solid #83A697;
            padding: 10px;
            width: 75%;
            text-align: center;
            color: #7F7F7F;

        }

        table {
            position: absolute;
            left: 200px;
        }

        tr:nth-child(even) {
            background-color: mintcream;
        }

        th {
            border: 1px solid #83A697;
            padding: 10px;
            background-color: moccasin;
            color: #7F7F7F;
            height: 50px;
            font-size: 20px;
        }

        h1 {
            text-align: center;
            color: #7F7F7F;
        }
    </style>
</head>
<body>
<h1> Appointments </h1>
<table>
    <tr>
        <td>ID</td>
        <td>DOCTOR ID</td>
        <td>PATIENT ID</td>
        <td>APP DATE</td>
        <td>STATUS</td>
        <td>DOCTOR NOTES</td>
        <td>PATIENT NOTES</td>
    </tr>
    #foreach($appointment in $appointments)
        <tr>
            <td>$appointment.id</td>
            <td>$appointment.doctor_id</td>
            <td>$appointment.patient_id</td>
            <td>$appointment.appDate</td>
            <td>$appointment.status</td>
            <td>$appointment.doctor_notes</td>
            <td>$appointment.patient_notes</td>
        </tr>
    #end
</table>
</body>
</html>