<html>
<head>
    <title>Doctors</title>
    <style>
        table, tr, td {
            border: 1px solid #83A697;
            padding: 10px;
            width: 75%;
            text-align: center;
            color: #7F7F7F;
        }

        table {
            position: absolute;
            left: 200px;
        }

        tr:nth-child(even) {
            background-color: mintcream;
        }

        th {
            border: 1px solid #83A697;
            padding: 10px;
            background-color: moccasin;
            color: #7F7F7F;
            height: 50px;
            font-size: 20px;
        }

        h1 {
            text-align: center;
            color: #7F7F7F;
        }
    </style>
</head>
<body>
<h1> Doctors </h1>
<table>
    <tr>
        <td>ID</td>
        <td>FIRST NAME</td>
        <td>LAST NAME</td>
        <td>PHONE NUMBER</td>
        <td>EMAIL</td>
        <td>SPECIALIZATION ID</td>
    </tr>
    #foreach($doctor in $doctors)
        <tr>
            <td>$doctor.id</td>
            <td>$doctor.first_name</td>
            <td>$doctor.last_name</td>
            <td>$doctor.phone_number</td>
            <td>$doctor.email</td>
            <td><a href="/doctors/$doctor.specialization_id"> $doctor.specialization_id</a></td>
        </tr>
    #end
</table>
</body>
</html>