<html>
<head>
    <style>
        body{
            background-image: url("https://www.freepik.com/free-vector/healthcare-background-with-medical-symbols-hexagonal-frame_9191758.htm#page=1&query=medical%20background&position=0");
        }
        h1{
            color: coral;
            text-align: center;
            font-size: xxx-large;
            margin-top: 100px;

        }
        form{
            color: coral;
            font-size: 20px;
            text-align: center;
            margin-top: 150px;
        }
    </style>
</head>
<body>
    <h1>Healthcare Clinic</h1>
    <form action="/action_page.php" method="get" target="_blank">
        <label for="fname">User:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Password:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>