<html>
<head>
    <style>
        body{
            background-color: #EBFFF3;
        }
        h1{
            color: coral;
            text-align: center;
            font-size: xxx-large;
            margin-top: 120px;

        }
        form{
            color: coral;
            font-size: 20px;
            text-align: center;
            margin-top: 150px;
        }
    </style>
</head>
<body>
<h1>Healthcare Clinic</h1>
<form  method="post" >
    <label for="last_name">User:</label>
    <input type="text" placeholder="Enter Username" name="last_name" required/><br><br>
    <label for="password">Password:</label>
    <input type="password" placeholder="Enter password" name="password" required/><br><br>
    <input type="submit" value="Submit">
</form>
</div>
</body>
</html>