<html>
<head>
    <title>Specializations</title>
    <style>
        table, tr, td {
            border: 1px solid #83A697;
            padding: 10px;
            width: 75%;
            text-align: center;
            color: #7F7F7F;

        }

        table {
            position: absolute;
            left: 200px;
        }

        tr:nth-child(even) {
            background-color: mintcream;
        }

        th {
            border: 1px solid #83A697;
            padding: 10px;
            background-color: moccasin;
            color: #7F7F7F;
            height: 50px;
            font-size: 20px;
        }

        h1 {
            text-align: center;
            color: #7F7F7F;
        }
    </style>
</head>
<body>
<h1> Specializations </h1>
<table>
    <tr>
        <td>ID</td>
        <td>DESCRIPTION</td>
    </tr>

    <tr>
        <td>$specialization.id</td>
        <td>$specialization.description</td>
    </tr>

</table>
</body>
</html>