<html>
<head>
    <title>Users</title>
    <style>
        table, tr, td {
            border: 1px solid #83A697;
            padding: 10px;
            width: 75%;
            text-align: center;
            color: #7F7F7F;

        }

        table {
            position: absolute;
            left: 200px;
            top: 75px;
        }

        tr:nth-child(even) {
            background-color: moccasin;
        }

        th {
            border: 1px solid #83A697;
            padding: 10px;
            background-color: mediumturquoise;
            color: #7F7F7F;
            height: 50px;
            font-size: 20px;
        }

        h1 {
            position: fixed;
            left: 200px;
            color: #7F7F7F;
        }
        .add {
            pozition: fixed;
            background-color: cornsilk;
            border: none;
            color:#7F7F7F;
            padding: 10px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-left: 900px;

        }
    </style>
</head>
<body>
<h1> Users<a href="usersForm" class="add">Add new user</a>
</h1>
<table>
    <tr>
        <td>ID</td>
        <td>FIRST NAME</td>
        <td>LAST NAME</td>

    </tr>
    #foreach($user in $users)
        <tr>
            <td>$user.id</td>
            <td>$user.first_name</td>
            <td>$user.last_name</td>
        </tr>
    #end
</table>
</body>
</html>